<!-- ******************************************************************* -->
<!-- *                                                                 * -->
<!-- *  show_picture.html                                              * -->
<!-- *  (c)2014 Jorge Marcos Fernandez                                 * -->
<!-- *                                                                 * -->
<!-- *  Description: JMFDjangoUTad Project                             * -->
<!-- *               Show Picture HTML Template File                   * -->
<!-- *               Practica Asignatura Backend de U-Tad              * -->
<!-- *               www.u-tad.com                                     * -->
<!-- *                                                                 * -->
<!-- *  Author:      Jorge Marcos Fernandez                            * -->
<!-- *                                                                 * -->
<!-- ******************************************************************* -->
<!DOCTYPE html>
<html>

    <!-- *************************************************************** -->
    <!-- *                                                             * -->
    <!-- *                                                             * -->
    <!-- * Head                                                        * -->
    <!-- *                                                             * -->
    <!-- *                                                             * -->
    <!-- *************************************************************** -->
    <head lang="en">
        <meta charset="UTF-8">
        <title>Show Picture</title>
    </head>

    <!-- *************************************************************** -->
    <!-- *                                                             * -->
    <!-- *                                                             * -->
    <!-- * Body                                                        * -->
    <!-- *                                                             * -->
    <!-- *                                                             * -->
    <!-- *************************************************************** -->
    <body>
        <img src="{{ STATIC_URL }}{{ Image.imageUrl }}">
    </body>

</html>

